form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.form-row .form-group.half {
    flex: 1 1 45%;
}

textarea,
input,
select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    margin:0 auto;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9; 
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ccc; 
}

th {
    background-color: #f0f0f0; 
    font-weight: bold;
}
